@media (max-width: 1200px) {
    .container {
        max-width: 960px;

    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 500px;
            column-gap: 30px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 350px);
        }
    }
    .skills {
        &__percents {
            grid-template-columns: repeat(2, 350px);
            justify-content: center;
            padding-top: 100px;
        }
        
    }
    .skills__grid-container {
        grid-template-columns: repeat(3, 270px);
        justify-content: center;
    }
    .portfolio {
        &__wrapper {
            grid-template: 280px 280px 200px / repeat(3, 280px);
            justify-content: center;
        }
        .vertical {
            grid-row: 3/4;
            grid-column: 1/4;
        }
        
    }
    .contacts {
        &__wrapper {
            padding: 0 20px 0 20px;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(2, auto);
            justify-content: center;
            align-items: center;
            gap: 20px;
            
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 300px);
            justify-content: space-between;
            gap: 20px;

        }
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-size: 30px;
    }
    
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 30px;
        }
        &__skills {
            padding-left: 20px;
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;

            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 300px);
            column-gap: 50px;
        }
    }
    .skills {
        &__percents {
            grid-template-columns: repeat(2, 320px);
            justify-content: center;
            padding-top: 70px;
            gap: 30px;
        }
        
    }
    .skills__grid-container {
        grid-template-columns: repeat(2, 320px);
        justify-content: center;
    }
    .portfolio {
        &__wrapper {
            grid-template: 230px 230px 200px / repeat(3, 230px);
            justify-content: center;
        }
        .vertical {
            grid-row: 3/4;
            grid-column: 1/4;
        }
        
    }
    .contacts {
        &__wrapper {
            
            grid-template-columns: 350px 350px;
            grid-template-rows: repeat(2, auto);
            justify-content: center;
            align-items: center;
            gap: 20px;  
        }  
        &__photo {
            display: none;
        }
        &__descr {
            grid-column: 1 / 3;
        }
    }
    
}


@media (max-width: 768px) {
    .container {
        max-width: 540px; 
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 425px;
            row-gap: 50px;
        }
    }
    .skills {
        &__percents {
            grid-template-columns: repeat(2, 250px);
            justify-content: center;
            padding-top: 50px;
            gap: 30px;
        }
        
    }
    .skills__grid-container {
        grid-template-columns: repeat(2, 250px);
        justify-content: center;
    }
    .portfolio {
        &__wrapper {
            grid-template: 230px 230px 200px / repeat(2, 230px);
            justify-content: center;
        }
        .vertical {
            grid-row: 3/4;
            grid-column: 1/2;
        }
        .horizontal {
            grid-row: 2/3;
            grid-column: 2/3;
        }
        .adaptation-5 {
            grid-row: 3/4;
            grid-column: 2/3;
        }
        
    }
    .contacts {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: 520px;
            grid-template-rows: auto;
            justify-content: center;
            align-items: center;
            gap: 20px; 
        }
        &__desct {
           padding-left: 20px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 220px);
            justify-content: space-between;
            row-gap: 20px;
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 26px;
    }
    .subtitle {
        font-size: 14px;
    }

    .sidepanel {
        justify-content: start;
        gap: 20px;
        top: -87px;
        left: 20px;
    }
    .sidepanel__divider {
        display: none;
    }
    .sidepanel__text {
        display: none;
    }
    .promo__wrapper {
        padding-left: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 15px;
        }
    }
    .about {
        
        &__skills {
            column-gap: 20px;
            grid-template: minmax(115px, auto) / 250px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
        &__text {
            font-size: 13px;
            line-height: 20px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 280px;
            row-gap: 30px;
            padding: 35px 10px 0 10px;
            justify-content: center;
        }
    }
    .skills {
        &__percents {
            grid-template-columns: 300px;
            justify-content: center;
            padding-top: 30px;
            gap: 30px;
        }
        
    }
    .skills__grid-container {
        grid-template-columns: 300px;
        justify-content: center;
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(6, 300px) / 300px;
            justify-content: center;
        }
        .adaptation-1 {
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .adaptation-2 {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        .adaptation-3 {
            grid-row: 3/4;
            grid-column: 1/2;
        }
        .vertical {
            grid-row: 4/5;
            grid-column: 1/2;
        }
        .adaptation-5 {
            grid-row: 5/6;
            grid-column: 1/2;
        }
        .horizontal {
            grid-row: 6/7;
            grid-column: 1/2;
        }  
    }
    .contacts {
        padding-top: 50px;
        text-align: center;
        &__wrapper {
            grid-template-columns: 280px;
            grid-template-rows: auto;
            justify-content: center;
            align-items: center;
            
        }
        &__desct {
           padding-left: 20px;
        }
        &__form {
            
            grid-template-rows: 45px 45px 150px 150px;
            grid-template-columns: 280px;
            justify-content: center;
            
        }
        &__input {
            grid-column: 1 / 2;
        }
        &__textarea {
            grid-column: 1 / 2;
        }
        &__triggers {
            grid-column: 1 / 3;
            display: grid;
            grid-template-columns: 280px;
            grid-template-rows: 45px 45px 150px 150px;
            justify-content: start;
        }
        &__btn {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        &__polisy {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }



}